@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .material-symbols-outlined-fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .material-symbols-outlined-fill-opsz-20 {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
  }

  .material-symbols-outlined-fill-1 {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  html,
  body,
  #root {
    /* @apply font-segoeui font-semibold; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    /* display: none; */
  }
}

@font-face {
  font-family: nexaBold;
  src: url("/src/fonts/nexa/NexaBold.otf");
}


@font-face {
  font-family: gilroySemibold;
  src: url("/src/fonts/gilroy/Gilroy-SemiBold.ttf");
}


@font-face {
  font-family: gilroyBold;
  src: url("/src/fonts/gilroy/Gilroy-Bold.ttf");
}
